name: Manage PRs

on:
  pull_request:

env:
  ModelName: model.qeax

jobs:
  run-diffcheck:
    runs-on: [self-hosted, linux, x64]
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - uses: ftsrg-rete/lta-diffcheck@main
        with:
          model: ${{ env.ModelName }}
          lta_license: ${{ secrets.LTA_LICENSE }}
          upload_endpoint: ${{ secrets.SFS_UPLOAD_ENDPOINT }}
          upload_token: ${{ secrets.SFS_UPLOAD_TOKEN }}
          download_endpoint: ${{ secrets.SFS_DOWNLOAD_ENDPOINT }}
          lemontree_web: ${{ secrets.LT_URL }}

  run-validator:
    runs-on: [self-hosted, linux, x64]
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: ftsrg-rete/ea-incquery-validator@main
        with:
          model: ${{ env.ModelName }}
          analysis_endpoint: ${{ secrets.VALIDATOR_ENDPOINT }}
          analysis_token: ${{ secrets.VALIDATOR_UNAMEPWD }}
          upload_endpoint: ${{ secrets.SFS_UPLOAD_ENDPOINT }}
          upload_token: ${{ secrets.SFS_UPLOAD_TOKEN }}
          download_endpoint: ${{ secrets.SFS_DOWNLOAD_ENDPOINT }}
